@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');

/* font-family: 'Playfair Display', serif; */
.wrapper{
    min-height: 100vh;
    /* width: 100%; */
    overflow: hidden;
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.sun{
    position: absolute;
    width: 100%;
    height: 100%;    
}

.sun img{
    width: 200px;
    height: 200px;
    animation: sun 18s linear infinite;
}

@keyframes sun {
    100%{
        transform: rotate(360deg);
    }
}

.sun img:hover{
    animation-play-state: paused;
}


.main-page{
    min-height: 100vh;
    background: rgb(180,58,167);
    background: linear-gradient(222deg, rgba(180,58,167,1) 0%, rgba(177,253,29,1) 50%, rgba(69,196,252,1) 100%);
    position: relative;
    margin: 0 auto;
}

[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-page__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 10px;
    color: rgba(23, 174, 239, 0.788);
    text-shadow: 2px 2px 2px rgb(5, 148, 209);   
    display: flex; 
    transition: all 0.6 linear; 
}

.main-page__title:hover span{
    letter-spacing: 50px;
    transition: all 0.6s linear;
}

.main-page__title span {
    animation: vapor 3s linear forwards;
    opacity: 0;    
    transform: rotate(360deg) translateX(-200px) translateY(-200px);
    filter: blur(20px);
}

/* @keyframes vapor {
    100%{
        opacity: 0;    
        transform: rotate(360deg) translateX(-200px) translateY(-200px);
        filter: blur(20px);
    }   
} */

@keyframes vapor {
    100%{
        opacity: 100;    
        transform: rotate(0deg) translateX(0px) translateY(0px);
        filter: blur(0px);
    }   
}

.main-page__title span:nth-child(9){
    animation-delay: 4s;
}

.main-page__title span:nth-child(8){
    animation-delay: 3.5s;
}

.main-page__title span:nth-child(7){
    animation-delay: 3s;
}

.main-page__title span:nth-child(6){
    animation-delay: 2.5s;
}

.main-page__title span:nth-child(5){
    animation-delay: 2s;
}

.main-page__title span:nth-child(4){
    animation-delay: 1.5s;
}

.main-page__title span:nth-child(3){
    animation-delay: 1s;
}

.main-page__title span:nth-child(2){
    animation-delay: 0.5s;
}

.main-page__title span:nth-child(1){
    animation-delay: 0s;
}

.main-page__title::before{
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    height: 2px;
    background: rgb(5, 148, 209);
    bottom: 0;
    left: 0; 
    transition: width 0.5s ease 0s; 
    animation: line 3s linear forwards 4s;  
}

@keyframes line {
    100%{
        width: 100%;
    }
}

.main-page__title:hover::before{
    content: '';
    display: block;
    background: rgba(161, 42, 165, 0.707);
    margin-bottom: -20px;
    height: 3px;
    transition: margin-bottom linear 0.8s;
}

/* --------------------------------------------------- */

.sprite{
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.sprite__img{
    height: 120px;
    width: 127px;
    background: url(../img/penguin4.png) 0px 0px;
    animation: penguin 2s steps(9) infinite,
            steps 18s linear infinite;
    position: absolute;
    left: 0;
}

@keyframes penguin {
    100%{
        background-position: -1144px;
    }
}

@keyframes steps {
    100%{
        left: 100%;
    }
}

.sprite__img:hover{
    animation-play-state: paused;
}

/* -------------------------------- */

.flip-card{
    min-height: 100vh;
    background: rgb(155,171,247);
    background: radial-gradient(circle, rgba(155,171,247,1) 0%, rgba(222,172,182,1) 100%);
    position: relative;
    margin: 0 auto;
}

.card{
    width: 350px;
    height: 450px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__front,
.card__back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.8s ease;
    border-radius: 20px;
    background:rgb(102, 126, 247);
}

.card__front{
    transform: perspective(600px) rotateX(0);   
}

.card:hover  .card__front{
    transform: perspective(600px) rotateX(-180deg);
}

.card__front img{
    width: 100%;
    height: auto;
}

.card__back{
    transform: perspective(600px) rotateX(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.card:hover .card__back{
    transform: perspective(600px) rotateX(0);
}

.card__back h1{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    line-height: -2%;
    z-index: 1;
}

.card__back span{
    display: block;
    font-weight: 400;
    margin: 5px 0 20px;
    color: rgb(250, 196, 196);
    letter-spacing: 2px;
    z-index: 1;
}

.card__networks{
    display: flex;
}

.card__networks li{
    padding: 3px;
    z-index: 1;
}

.card__networks li:not(:last-child){
   margin-right: 30px; 
}

.card__networks li:hover{
    transform: scale(1.3);
    transition: all 0.4s linear;
    border-radius: 50%;
    background-color: #fff;    
}

.card__flower{
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: -50%;
    width: 100%;
    height: 100%;
    animation: flower 10s backwards 2s;
    
}

@keyframes flower {
    100%{
        transform: rotate(360deg);
    }
}

.card__flower img{
    max-width: 100px;
    max-height: 100px;
    animation: flower2 18s infinite forwards 10s;
}

@keyframes flower2 {
    100%{
        transform: rotate(360deg);
    }
}




