@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/* font-family: 'Ubuntu', sans-serif;*/

[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    background: rgb(34, 33, 32);
}

header{
    width: 100%;
    max-width: inherit;
    padding: 20px 0;
    background-color: rgba(0, 128, 128, 0.608);  
    position: fixed;
    z-index: 1;
}

.header__title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: antiquewhite;
    letter-spacing: 1.4;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.main{
    padding: 130px 0;
}

.cards{
    width: 100%;
    height: 500px;
    position: relative;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    margin-bottom: 200px;
    transform: skewY(-5deg);
}

.cards__container{
    padding-top: 50px; 
}

.card__box{
    transform: skewY(5deg); 
    position: relative;
    width: 300px;
    height: 300px;
    margin: 40px;
    display: inline-block;
}

.card__img{
    position: relative;
    overflow: hidden;
}

.card__img img{
    max-width: 100%;
    transition: transform 2s;
}

.card__box:hover .card__img img{
    transform: scale(1.2);
}

.card__content{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 10px;
    right: 10px;
    background: rgb(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: 0.5s;
}

.card__box:hover .card__content{
    transform: scale(1);
}

.card__about{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0 15px;
    color: #fff;
}

.card__about h2{
    font-weight: 500;
    font-size: 20px;
    margin: 30px;
}

.red{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 10px;
    right: 10px;
    background: rgba(181, 19, 19, 0.8);
    transform: scaleX(0);
    border-radius: 50%;
    transition: 0.5s; 
}

.yellow{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 10px;
    right: 10px;
    background: rgba(181, 178, 19, 0.8);
    transition: 0.5s; 
    transform-origin: 0% 0%;  
}

.card__box:hover .yellow{
    transform-origin: 50% 50%;   
}


.boxes{
    width: 100%;
    height: 500px;
    position: relative;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    transform: skewY(5deg);
    perspective: 1000px;
}

.box{
    transform: skewY(-5deg); 
    position: relative;
    padding-top: 100px;
    transition: 1s;
    transform: rotateX(50deg) rotateY(-20deg) rotateZ(20deg);
    transform-style: preserve-3d;
}

.box__details{
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left: 50px;
    position: relative;
    transition: 0.5s;    
}

.box__details:hover{
    cursor: pointer;
    transform: translateZ(30px);
}

.box__img { 
    overflow: hidden;
}

.box__img img{
    max-width: 100%;
    transition: transform 2s;
}

.box__content{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 10px;
    right: 10px;
    background: rgba(100, 212, 40, 0.8);
    transition: 1s;
    transform: scale3d(0, 0, 0);
}

.box__details:hover .box__content{
    transform: scale3d(1, 1, 1);
}

 .blue{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 10px;
    right: 10px;
    background: rgba(40, 212, 203, 0.8);
    transition: 1s; 
    transform-origin: 0% 0%;
}

.box__details:hover .blue{
    transform-origin: 70% 70%;   
}

.purple{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 10px;
    right: 10px;
    background: rgba(146, 40, 212, 0.8);
    transition: 1s; 
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 0;
}

.box__details:hover .purple{
    transform: rotate3d(1, 1, 1, 360deg);
    opacity: 1;
    
}

.box__about{
    position: absolute;
    text-align: center;
    padding: 50px 15px 0px 15px;
    color: #fff;
}

.box__about h2{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
    color: blue;
}

