*{
    text-transform: capitalize;
}

h1{
    color: blue;
}

.about p{
    color: rgba(80, 83, 255, 0.625);
}

.about .title{
    color: rgba(30, 153, 210, 0.84);
}

.first,.first1{
color: red;
}

#idiom1{
    text-transform: uppercase;
}

.second{
    color: orange;
}

.third{
    color: rgb(226, 226, 47);
}

.fourth{
    color: rgb(43, 177, 43);
}

.fifth{
    color: rgb(12, 243, 54);
}

.sixth{
    color: rgb(32, 3, 246);
}

.seventh{
    color: rgb(64, 220, 238);
}

.eighth{
    color: rgb(136, 27, 136);
}

.ninth{
    color: rgb(145, 81, 204);
}

.tenth{
    color: rgb(234, 116, 136);
}

